body{
  background-color: #6AA3B6;
}

*{
  color: Azure;
  font-family: Arial, sans-serif;
}

img{
  height: 400px;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-size: 100px;
}

h2{
  font-size: 40px;
}

p{
  font-size: 20px;
}
